 
 <%= render 'users/list', user: @user %>
  
<%= render 'books/list', book: @book %>
 


<table>
  <h2>Users</h2>
  <thead>
    <th>image</th>
    <th>name</th>
    <th></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "https://via.placeholder.com/50x50" %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", edit_user_path(user.id) %></td>
      </tr>
    </tbody>
  </table>
<% end %>

