<div class="profile-container">
  <h2>User info</h2>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "https://via.placeholder.com/100x100" %>
  <p>name:<span class="profile-name"><%= @user.name %></span></p>
  <p>introduction<span class="profile-introduction"><%= @user.introduction %></span></p>
  
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>
<% @books.each do |book| %>

<% end %>
<%= paginate @books %>


